
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvZXZmZmp3cmZhaXNsZ3BmY294Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk1NjYxNjQsImV4cCI6MjA4NTE0MjE2NH0.bQ3fT7GZTaMmHYQRhBSeG00eyhhRMJmGD9za_jVCqcww